<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hosteleriapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_hosteleriapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_hosteleriapp_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HosteleriApp">
        <activity
            android:name=".Bar.GestionarUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".Bar.VisualizarComanda"
            android:exported="false" />
        <activity
            android:name=".User.RealizarComandaActivity"
            android:exported="false" />
        <activity
            android:name=".User.VerCartaActivity"
            android:exported="false" />
        <activity
            android:name=".User.EditarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".Bar.EditarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Bar.AddProductoActivity"
            android:exported="false" />
        <activity
            android:name=".Bar.BarActivity"
            android:exported="false" />
        <activity
            android:name=".User.UsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".Administrador.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>